node_modules
server/node_modules
npm-debug.log
.env
.env.local
.git
.gitignore
README.md
.DS_Store
dist
build
*.log
coverage
.vscode
.idea
*.md
data/
bucket/
client/
e2e/
*.png
*.jpg
*.svg
.prettierrc
.eslintrc.json
